/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';
@use '@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-size: 16px;
  line-height: 1.58;
  background: #6699ff;
  background: -webkit-linear-gradient(to left, #336699, #228899);
  background: linear-gradient(to left, #336699, #228899);
  color: #333;
  padding-bottom: 70px;
  padding-top: 40px;
}

.component-title {
  color: #228899;
}

.sub-para {
  font-size: small;
}

.todo-info {
  margin-bottom: 6px;
}

.todo-listinfo {
  margin-bottom: 30px;
}
